{% extends 'base.html.twig' %}
{% block title %}Strona główna{% endblock %}

{% block body %}
<div id="container">
<div id="task">
<h2 class = "taskLabel">Zadanie 1</h2>
<a href = {{ path('form') }}><button class="taskButton">Formularz</button></a>
<a href = {{ path('panel') }}><button class="taskButton">Panel Administratora</button></a>
<hr>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}
