{% extends 'base.html.twig' %}
{% block title %}Zgłoszenia{% endblock %}

{% block body %}
<div id = "container">
<h2>Tytuł : {{ zgloszenia.title }}</h2>
<h2>Treść : {{ zgloszenia.content }}</h2>
<h2> Pliki : {% if (zgloszenia.file ==" ") %}
                <td>
                Brak
                </td>    
                {% else %}          
                <td>{{ zgloszenia.file }}</td>
                {% endif %}
</h2>
<h2><a href=" {{ path('panel') }}" class="back">Powrót</a></h2>
</div>
{% endblock %}

{% block stylesheets %}
<style>
body{background: #F5F5F5;}
.back{    text-decoration: none; color: #b14949;}
</style>
{% endblock %}
