body{background: #F5F5F5;}
tr:hover{background-color:hsla(11, 15%, 90%,0.3);}
td{    padding: 2%;}
hr {width:60%}

#tableDiv{text-align: -webkit-center;width: 100%;}

.back{    text-decoration: none; color: #b14949;}
.label{text-align:center}
.showed{text-decoration: none;color:#05055e;}
.click{color:red;text-decoration: none;}
.table{width: 60%; text-align: center;border-bottom: 1PX SOLID BLACK;border-collapse: collapse;}
.controlLabel{letter-spacing: 5px;text-align: center;}

